{% extends 'registration/base.html' %} {% block content %} {% load static %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 slideLogin">
            <div id="screenshots">
                <div><img src="/static/images/screenshot1.jpg"></div>
                <div><img src="/static/images/screenshot2.jpg"></div>
                <div><img src="/static/images/screenshot3.jpg"></div>
                <div><img src="/static/images/screenshot4.jpg"></div>
                <div><img src="/static/images/screenshot5.jpg"></div>

            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card mb-4 ">
                <div class="card-title mt-4">
                    <h1 class="text-center"><img src="/static/images/instagramClearbg.png" style="height:50px"></h1>
                </div>
                <div class="card-body loginForm">
                    <form action="{% url 'login' %}" method="post" novalidate>
                        {% csrf_token%} {{ form}}
                        <button type="submit" class="btn"> Log In</button>
                    </form>
                </div>
                <a href="" class="D-block mx-auto mb-3">Forgot password? </a>
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-3">
                    <p class="text-center">
                        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                    </p>
                </div>
            </div>
            <div container>
                <p class="text-center mt-4">Get the app</p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-2">
                        <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8&amp;vt=lo" target="_blank"><img src="{% static 'images/applestore.png' %}" alt="" width="100%" class="download"> </a>
                    </div>
                    <div class="col-md-5 mb-2">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D35C7E049-B836-42B2-90B0-86793E160B70%26utm_content%3Dlo%26utm_medium%3Dbadge">
                            <img src="{% static 'images/playstore.png' %}" alt="" width="100%" class="download">
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}