{% extends 'instagram/base.html' %}{% load crispy_forms_tags %} {% block content %}{{block.super}}
<div class="row index">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="row">
            <button class="btn btn-sm btn-outline-primary ml-4 mb-3" data-toggle="modal" data-target="#imageUpload">
                Upload Image
            </button>
            <div class="modal fade" id="imageUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Image Upload</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" novalidate>
                                {% csrf_token %} {{ form|crispy }}
                                <button class="btn btn-sm btn-success">Upload</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
<h1 class="text-center"> Welcome to Instagram</h1>
{%for post in posts%}
<h1>{{post.title}}</h1>
<h1>{{post.description}}</h1>
<h1>{{post.likes.count}}</h1>
<h1>{{post.user.user.username}}</h1>
<h1>{{post.created_at}}</h1>

<img src="{{post.image.url}}" class="card-img" style="width:200px;height:200px;">
<button class="btn btn-sm" type="submit"><a href="{% url 'comment' post_id=post.id %}"><i
            class="far fa-comment hearticon mx-auto" aria-hidden="true"></i>
    </a></button> {% for comment in post.comments.all %}
<p><strong>{{comment.user.user.username}}:</strong> {{comment.comment}}</p>
<p>{{comment.created_at | timesince}}</p>
<hr> {% endfor %} {%endfor%}


</div>
{%endblock %}