.account-img {
    height: 150px;
    width: 150px;
}

.media {
    color: black;
}

.cardprofileImages {
    display: flex;
    flex-wrap: wrap;
}

.profileImages img {
    height: 350px;
}

a.btn.btn-sm.editProfile.mr-3 {
    background-color: transparent;
    border: 1px solid grey;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.911)
}

.updateForm form {
    width: 80%;
    padding: 20px;
    padding-top: 0 !important;
    border-radius: 6px;
    float: center;
    align-items: center;
    font-size: 16px;
    font-style: bold;
    margin-left: 10%;
    margin-right: 10%;
}

.card-img {
    height: 500px;
    width: 100%;
}

.commentButton {
    background-color: rgb(16, 182, 248, 0.6) !important;
}

#overlay i {
    color: black;
}

#go-back {
    background-color: transparent !important;
    border: none !important;
}

i.fa.fa-arrow-left {
    font-size: 20px !important;
}