.account-img {
    height: 150px;
    width: 150px;
}

.media {
    color: black;
}

.cardprofileImages {
    display: flex;
    flex-wrap: wrap;
}

.profileImages img {
    height: 350px;
}

a.btn.btn-sm.editProfile.mr-3 {
    background-color: transparent;
    border: 1px solid grey;
}